.logsheetdisplay{
    background-color: var(--appcolor);
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.date_display {
  font-size: 18px;
  text-align: left; 
  color: var(--white);
  margin-top: 10px;
  /* Add other styles for date display */
}
.headersect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 42px;
    align-items: center;
    border-bottom: 0.5px solid #5e6872;
    color: white;
}
.headersect h3{
    margin-left: 10px;
    cursor: pointer;
}
.subn{
    font-size: 15px;
    display: flex;
    gap: 10px;
    padding: 0;

}

.subn li{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(39, 35, 35, 0.2);
    padding: 0.4em 0.6em;
    margin-right: 10px;
}
/* Logsheet.module.css */
.logsheetdate h2{
  text-align: center;
    color: var(--white);
    margin-top: 12px;
}
.logsheet_container {
  width: 56rem;
  overflow-x: auto;
  height: 22.5rem;
  background-color: #032f61;
  margin-top: 18px;
  border-radius: 5px;
}

.navigationnew {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    gap: 40rem;
}

button {
  padding: 10px;
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
}

.logTable {
  width: 100%;
  border-collapse: collapse;
}

.logTable th,
.logTable td {
  border: 1px solid #5e6872;
    padding: 8px;
    text-align: center;
    color: var(--lightgray);
}
.logTable th {
  background-color: #032f61;
  font-weight: bold;
  color: var(--white);
}
.logTable th:first-child {
  text-align: left;
}

