.SignInform {
  position: absolute;
  top: 10vh;
  left: 30vw;
  background-color: #001f2bea;
  height: 70vh;
  width: 45vw;
  border-radius: 4%;
}
.inputfields {
  width: 50%;
  height: 3rem;
  padding: 15px;
  font-size: large;
  color: black;
  border-radius: 10px;
  border: 2px solid transparent;
  font-family: "Times New Roman", Times, serif;
  background-color: rgb(231, 225, 225);
}
.submit {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitbtn {
  padding: 8px;
  width: 30%;
  color: black;
  cursor: pointer;
  border-radius: 20px;
  background-color: #032e3f;
  background-color: #0b3f53;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 300;
  font-size: large;
  border: none;
  color: rgb(255, 254, 254);
}
.submitbtn:hover {
  background-color: #032e3f;

  transition-duration: 1s;
}
.SignInform_quit {
  padding: 15px;
  text-align: end;
  font-size: large;
}

form {
  padding: 10px;
  height: 40%;
}
.inputbox {
  padding: 3%;
  text-align: center;
}

.label {
  text-align: center;
  font-weight: bold;
}

.hidden {
  display: none;
}

.cross {
  cursor: pointer;
  font-size: 25px;
  background-color: transparent;
  border: none;
}

.cross:hover {
  color: rgb(150, 150, 150);
  transition-duration: 1s;
}

h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

input[type="email"]::placeholder,
input[type="password"]::placeholder {
  color: rgb(170, 163, 163);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
