.edit_profile_form_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form{
    display: flex;
    flex-direction: column;
    width: 35rem;
    height: 35rem;
    padding: 4px;
}
.label{
    font-size: 1.5rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 15px;
}
.input{
    height: 2rem;
}
.submit{
    background-color: red;
}

.subheading{
    margin-top: 4px;
    color: blue;
}