.sidebar {
  background-color: var(--appcolor);
  width: 15rem;
  display: flexbox;
  flex-direction: column;
  padding: 20px;
  border-right: 0.5px solid rgb(116, 107, 107);
  text-decoration: none;
}
.sidebaritem {
  margin-bottom: 40px;
  cursor: pointer;
  border: 5px solid transparent;
  color: var(--white);
}

.sidebaritem:hover {
  background-color: rgb(0, 8, 39);
  border-radius: 5%;
  box-shadow: 1px 6px 10px 0px rgb(8 12 66);
}
.hidesidebar {
  background-color: grey;
  width: 5rem;
  margin-left: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  text-align: justify;
  font-size: small;
}
.hidesidebaritems {
  margin-bottom: 1rem;
  cursor: pointer;
  border: 5px solid transparent;
}

.icons {
  margin-right: 6px;
  margin-left: 6px;
  font-size: large;
}
#sidebar_toggler {
  margin-top: 15em;
}
.sidebarOption {
  color: white; /* Set the default color for links to white */
  text-decoration: none; /* Remove underline from links */
}
.sidebarOption:visited {
  text-decoration: none;
  color: white;
}
