.calendar_content {
  position: absolute;
  color: var(--white);
  background-color: var(--white);
  width: 500px;
  height: 470px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
  /* Position at 50% from the left */
  left: 40%;
  right: 0;
  top: 35.5px;
  /* Adjustments for centering */
  transform: translate(-80.5%, 0%);
}
.calendar_container {
  position: relative;
  display: inline-block;
  right: 0;
}
/* Calendar.css */

