.chatdisplay{
    background-color: var(--appcolor);
    width: 83%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.headersection3{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 42px;
    align-items: center;
    border-bottom: 0.5px solid #5e6872;
    color: white;
}
.headersection3 h3{
    margin-left: 10px;
    cursor: pointer;
}
.subnav3{
    font-size: 15px;
    display: flex;
    gap: 10px;
    padding: 0;

}

.subnav3 li{
    list-style: none;
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    font-size: 14px;
    box-shadow: 0px 8px 16px 0px rgba(39, 35, 35, 0.2);
    padding: 0.4em 0.6em;
    margin-right: 10px;
}
  
  /* .chatContainer {
    background-color: white;
    height: 60%;
    width: 50%;
  }
  
  .header {
    background-color: var(--appcolor2);
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .header > h2 {
    font-size: 1.5vmax;
    color: white;
    margin: 2.5vmax;
  }
  
  .header img {
    margin: 2.5vmax;
    transition: all 0.3s;
    cursor: pointer;
  }
  .header > img:hover {
    transform: scale(1.2);
  }
  
  .chatBox {
    height: 70%;
    box-sizing: border-box;
  }
  
  .inputBox {
    height: 16%;
    box-sizing: border-box;
    display: flex;
  }
  
  #chatInput {
    width: 80%;
    border: none;
    padding: 2vmax;
    box-sizing: border-box;
    background-color: white;
    outline: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2vmax;
    border-top: 0.2vmax solid rgba(41, 41, 41, 0.562);
  }
  
  .sendBtn {
    background-color: var(--appcolor2);
    color: white;
    border: none;
    width: 21%;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .sendBtn > img {
    width: 2.6vmax;
    filter: brightness(100) invert();
    transition: all 0.3s;
  }
  .sendBtn:hover {
    background-color:var(--appcolor2);
  }
  .sendBtn:hover img {
    transform: translateX(10px);
  }
   */
   /* Basic CSS for ChatApp component */
.chat_box {
  height: 300px;
  overflow-y: scroll;
}

.message {
  padding: 8px;
  margin: 8px;
  border-radius: 5px;
}

.sent {
  background-color: #b2ebf2; /* Sent messages color */
  align-self: flex-end;
}

.received {
  background-color: #c8e6c9; /* Received messages color */
  align-self: flex-start;
}

.input_box {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

input {
  flex: 1;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
